*{
  margin:0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #d8dde1; /* Color celeste suave */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1, h2, h3, h4{
  font-family: Impact, sans-serif; /* Fuente Impact */
  -webkit-text-stroke: 1px rgb(246, 246, 252); /* Contorno de color azul */
  -webkit-text-fill-color: rgb(8, 8, 100); /* Relleno transparente */
  text-shadow: 6px 6px 6px #ae9797; /* Contorno de color blanco */
}
 h2, h3, h4, h5, h6, input, select, textarea, label {
  font-family: Copperplate, sans-serif; /* Fuente Copperplate */
  /*-webkit-text-stroke: 1px rgb(3, 3, 11); /* Contorno de color azul */
  -webkit-text-fill-color: rgb(23, 44, 66); /* Relleno transparente */
  text-shadow: 4px 4px 4px #5a4492bd; /* Contorno de color blanco */
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: navy;
  color: #fff;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}

.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}
.text-container {
  margin-right: 50px;
}

.form-container {
  width: 300px;
}